#wrapper{
	text-align: center;
	margin-right: 50%;
	/*border:2px solid #A4A4A4;*/
	box-shadow: 10px 2px 10px -2px;
	width:220px;
	padding: 10px;
	
}

#firstName{
	float:center;
	text-align: right;
	margin-right: auto;
}
#lastName{
	float:center;
	text-align: right;
	margin-right: auto;
}
#email{
	float:center;
	text-align: right;
	margin-right: auto;
}
#password{
	float:center;
	text-align: right;
	margin: auto;
}
#button{
	float:center;
	text-align:right;
	margin:auto;
}
#infoList{
	text-align: right;
	
	

}
#infoList ul li{
	list-style: none;
	text-align: right;
	
}